:root {
  --mainGreen: #495E57;
  --mainYellow: #F4C314;
}
.App {
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: row;
  font-family: 'Karla', sans-serif;
}

.Header {
  padding-left: 5vw;
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Nav {
  width: 70vw;
}

.Nav ul {
  font-family: 'Karla', sans-serif;
  display: flex;
  width: 40rem;
  align-items: flex-start;
  gap: 1.75rem;
  list-style-type: none;
}
.Hero {
  width: 90rem;
  height: 25.375rem;
  flex-shrink: 0;
  background: var(--mainGreen);
}
.Footer {
  display: flex;
  justify-content: center;
  align-items: space-evenly;
}
