.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-items: space-evenly;
}

.Nav {
  display: flex;
  align-items: center;
  justify-items: space-evenly;
}

.Footer {
  display: flex;
  justify-content: center;
  align-items: space-evenly;
}
