:root {
  --mainGreen: #495E57;
  --mainYellow: #F4C314;
}
.App {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Karla', sans-serif;
}

.Header {
  width: 50vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.Nav ul {
  font-family: 'Karla', sans-serif;
  display: flex;
  width: 40%;
  align-items: flex-start;
  gap: 1.75rem;
  list-style-type: none;
}

.Main {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.Hero {
  width: 100vw;
  height: 25.375vh;
  background-color: var(--mainGreen);
  left: 0;
  top: 0;
}
.Footer {
  display: flex;
  justify-content: center;
  align-items: space-evenly;
}
